@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
  border: none;
}

li {
  list-style: none;
}

#header {
  width: 100%;
  height: 80px;
  background-color: #000;
  display: flex;
  align-items: center;
}

.logo-util_area {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 4%;
  padding-right: 4%;
}

.util-area {
  width: 350px;
  height: 15px;
}

.logo a {
  display: block;
  width: 100px;
  height: 39px;
  background: url('../img/logo/Blvck_Paris_White.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: -9999px;
}

.select-util {
  width: 264px;
  display: flex;
  justify-content: space-between;
}

.select-util li {
  font-family: 'MavenPro';
  font-weight: 500;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: -0.045em;
  color: #fff;
}

.country {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  font-family: 'MavenPro';
  font-weight: 500;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: -0.045em;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  width: 264px;
  min-width: 160px;
  z-index: 1;
  padding-left: 17px;
  padding-top: 4px;
  overflow-y: scroll;
}

.dropdown-content li {
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #fff;
  font-size: 0.875rem;
  cursor: pointer;
}

.dropdown-content::-webkit-scrollbar {
  width: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #676767;
  border-radius: 10px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: #000;
}

.country span {
  font-weight: 600;
}

.loca {
  height: 288px;
}

.lang {
  height: 144px;
}

.dropbtn:hover,
#gnb>ul>li>a:hover,
.select-utill li:hover,
.contact a:hover,
.dropdown-content li:hover {
  color: #676767;
}

.contact a {
  font-family: 'MavenPro';
  font-weight: 500;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: -0.045em;
  color: #fff;
}

.user-util {
  width: 344px;
  display: flex;
  justify-content: space-between;
}

.search-box {
  position: relative;
  display: inline-block;
  width: 177px;
}

.search-box input[type="text"] {
  width: 177px;
  height: 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #2e2e2e;
  color: #fff;
  padding-left: 10px;
  font-size: 0.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  box-sizing: border-box;
}

.search-box input::placeholder {
  color: #cacccc;
  font-family: 'MavenPro';
  font-style: normal;
  font-size: 0.75rem;
}

.search-box input::-webkit-input-placeholder {
  color: #cacccc;
  font-family: 'MavenPro';
  font-style: normal;
  font-size: 0.75rem;
}

.search-btn {
  width: 17px;
  height: 17px;
  background: url('../img/css_sprites.png') -10px -90px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9px;
}

.user-util a {
  display: block;
  width: 17px;
  height: 17px;
  text-indent: -9999px;
}

.wishlist {
  background: url('../img/css_sprites.png') -90px -47px;
}

.user {
  background: url('../img/css_sprites.png') -90px -10px;
}

.shopping-bag {
  background: url('../img/css_sprites.png') -47px -90px;
}


/* ν‘Έν„° μ‹μ‘ */

#footer {
  width: 100%;
  height: 300px;
  background-color: #000;
  color: #fff;
  padding-top: 61px;
  box-sizing: border-box;
}

.footer-container {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.footer_nav {
  width: 457px;
  height: auto;
  float: left;
}

.footer_nav>ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_nav>ul>li {
  font-size: 0.875rem;
  font-weight: 500;
}

.footer_nav li {
  font-family: 'MavenPro';
  text-align: left;
}

.footer_nav>ul>li>ul>li {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 22px;
}

.footer_nav>ul>li>ul>li:first-child {
  margin-top: 40px;
}

.footer_nav>ul>li>ul>li:last-child {
  margin-bottom: 0px;
}

.footer_nav a {
  color: #fff;
}

.footer_nav a:hover {
  color: #676767;
}

.footer_links {
  width: 161px;
  height: auto;
  float: right;
  text-align: left
}

.sns-links {
  width: 100%;
  height: auto;
  margin-bottom: 91px;
}

.sns-links p {
  font-family: 'MavenPro';
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 37px;
}

.sns-links a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  text-indent: -9999px;
}

.sns-links a:last-child {
  margin-right: 0px;
}

.instagram {
  background: url('../img/css_sprites.png') -50px -10px;
}

.facebook {
  background: url('../img/css_sprites.png') -10px -10px;
}

.twitter {
  background: url('../img/css_sprites.png') -50px -50px;
}

.pinterest {
  background: url('../img/css_sprites.png') -10px -50px;
}

.copyright {
  font-family: 'MavenPro';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}